@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter.ttf);
}

@font-face {
  font-family: Nexa;
  src: url(./assets/fonts/Nexa-Heavy.ttf);
}

@font-face {
  font-family: Quicksand;
  src: url(./assets/fonts/Quicksand.ttf);
}

body,
html {
  /* we might not actually want this on `html` */
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Red Hat Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 5px;
  /* Adjust the width of the scrollbar */
  height: 5px;
  /* Adjust the height of the scrollbar */
}

/* Track */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.10);
  /* Set the background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  /* Set the color of the scrollbar handle */
  border-radius: 10rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}